window {
    /* background-color: rgb(255, 255, 255); */
    background-image: url("mario_background.png");
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}

/* grid {
    margin: 5em;
} */

mainBox {
    border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px;
    min-height: 5em;
    min-width: 5em;
    margin: 3em;
}

.buttonPlay {
    padding: 3.5em;
    min-height: 5em;
    min-width: 5em;
    border-color: rgb(71, 70, 70);
    border-style: solid;
}

.buttonPlay:nth-child(-n+3) {
    border-bottom-width: 1px;
}

.buttonPlay:nth-child(3n+1) {
    border-right-width: 1px;
}

.buttonPlay:nth-child(3n) {
    border-left-width: 1px;
}

.buttonPlay:nth-child(n+7) {
    border-top-width: 1px;
}

.buttonPlay > label {
    font-size: 6em;
    /* border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px; */
}

detailsBox {
    /* border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px; */
    font-size: 1.2em;
    font-weight: 600;
    font-family: monserrat;
}

modeModal {
    border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px;
    border-radius: 3px;
}

 modeModalMush {
    /* border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px; */
    min-width: calc(600px / 5);
    min-height: 88px;
    background-image: url("mario_spirte.png");
    animation: contact-avatar 0.85s steps(5) infinite;
} 


@keyframes contact-avatar {
    from {
        background-position: 0px;
    }
    to {
      background-position: -600px;
    }
}

chooseModeLabel {
    font-size: 1.5em;
}

.buttonMode {
    transition: 0.25s;
    border-color: rgb(71, 70, 70);
    border-style: solid;
    border-width: 1px;
    padding: 0.5em 2em;
    font-size: 2em;
}

.buttonMode:hover {
    box-shadow: inset 0 0 0 2em rgb(71, 70, 70);
    color: rgb(253, 249, 249);
}
